
body {
    margin: 0;
  
  }

  .container {
    display: flex;
    height: 100vh;

  }

  .section{
    flex: 1;
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: space-evenly;
    transition: flex 0.5s ease;
    overflow: hidden;
  }

  #section-order{
    background-color: black;
  }
  #section-chaos{
    background-color: white;
  }

  #section-TTL{
    content-visibility: hidden;
  }

  
  .subText { /* Order & Chaos*/
    display: flex;
    text-align: center;
    opacity: 1;
    flex-direction: column;
    transition: opacity 0.3s ease;
    background-color: blue;

  }


  #h1-order{
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  #h1-chaos{
    color: black;
    font-family: 'Noto', serif;
  }

  h1{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 8rem;
  }
  
  


  .section:hover ~ .center-line {
    opacity: 1; /* Show when either section is hovered */
  }


  
  /* Hover Effects */
  .section:hover {
    flex: 3;
    .details {
      visibility: visible;
    }
  }
  
  .section:hover .subText {
    opacity: 1;
  }
  
  .TTL:hover {
    background-color: lightgreen;
  }
  
  .TTL-line:hover p {
    opacity: 1;
  }

  

  @media (max-width: 768px) {
    .order h1 {
      font-size: 3rem; /* Smaller size for bigger screens */
    }
    .chaos h1 {
      font-size: 3rem; /* Smaller size for bigger screens */
    }
  }
  