
body {
    margin: 0;
    display: grid;
  
  }

  .container {
    display: flex;
    height: 100vh;

  }

  .section{
    flex: 1;
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: space-evenly;
    transition: flex 0.5s ease;
    overflow: hidden;
  }

  #section-order{
    background-color: black;
  }
  #section-chaos{
    background-color: white;
  }

  #section-TTL{
    content-visibility: hidden;
  }

  
  .subText { /* Order & Chaos*/
    display: flex;
    text-align: center;
    opacity: 1;
    flex-direction: column;
    transition: opacity 0.3s ease;
    background-color: blue;

  }


  #h1-order{
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  #h1-chaos{
    color: black;
    font-family: 'Noto', serif;
  }

  h1{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 8rem;
  }
  
  


  .section:hover ~ .center-line {
    opacity: 1; /* Show when either section is hovered */
  }


  
  /* Hover Effects */
  .section:hover {
    flex: 2;
    /* .details {
      visibility: visible;
    } */
  }
  
  .section:hover .subText {
    opacity: 1;
  }
  
  .TTL:hover {
    background-color: lightgreen;
  }
  
  .TTL-line:hover p {
    opacity: 1;
  }


/*Chaotic Lettering*/

  .fancy > .letter {
    display: inline-block;
    align-items: center;
    transition: transform 350ms ease;
  }

.fancy:hover > .letter {
    transition-duration: 800ms;}

.line {
    display: flex;
    justify-content: space-between;
  }

.word {
  color: black;
  font-size: clamp(2rem, 8vw, 10rem);
  margin: 0rem;
  transition: opacity 250ms ease;
}

#h1-chaos:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  
.fancy:hover > .letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}
  
.fancy:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}
  
.fancy:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}
  
.fancy:hover > .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}
  
.fancy:hover > .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}
  
/* .fancy:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}
  
.fancy:hover > .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}
  
.fancy:hover > .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}
  
.fancy:hover > .letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}
  
.fancy:hover > .letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}
  
.fancy:hover > .letter:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}
  
.fancy:hover > .letter:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
} */

  


/*responsiveness*/

  @media (max-width: 768px) {
    .section #h1-order{
      font-size: 3rem; /* Smaller size for bigger screens */
    }
    .section #h1-chaos {
      font-size: 3rem; /* Smaller size for bigger screens */
    }
  }
  